# See https://clang.llvm.org/docs/ClangFormat.html
# Print presets with `clang-format -style=llvm -dump-config`

BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4

AccessModifierOffset: -4

BreakBeforeBraces: WebKit
BreakBeforeBinaryOperators: NonAssignment

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
