[core]
  autocrlf = input
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[fetch]
  prune = true
[rebase]
  autoSquash = true
  autoStash = true
[diff]
  colorMoved = zebra

[alias]
  aa = add --all
  ap = add --patch
  br = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:bold reset)%(refname:short)\" refs/remotes
  ci = commit -v
  co = checkout
  fp = push --force-with-lease
  st = status

[include]
  path = ~/.gitconfig.local
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
  path = ~/.gitconfig-gh
[includeIf "hasconfig:remote.*.url:ssh://git@github.com/**"]
  path = ~/.gitconfig-gh
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
  path = ~/.gitconfig-gh
[includeIf "hasconfig:remote.*.url:https://github.com/**"]
  path = ~/.gitconfig-gh.local
[includeIf "hasconfig:remote.*.url:ssh://git@github.com/**"]
  path = ~/.gitconfig-gh.local
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
  path = ~/.gitconfig-gh.local
