fzf                 0.44
git                 2.42
neovim              0.9
perl                5.38
python              3.11
ruby                3.2

go                  1.21
node                21
shellcheck          0.9
zig                 master

#awscli              2.14
#azure-cli           2.54
#kind                0.20
#kubectl             1.28
#minikube            1.32
#terraform           1.6
#terragrunt          0.54

#bun                 1.0
#deno                1.38

#lua                 5.1
#lua-language-server 3.7
#php                 8.2

#powershell-core     7.3
#flutter             3.16

#carp                0.5
#janet               1.32

#clojure             1.11
#java                temurin-21
#leiningen           2.9
#ruby                jruby-9.4
#scala               3.3

#graalvm             22.3.3-java11
#java                graalvm-community-21.0
#java                oracle-graalvm-21.0
#python              graalpy-community-23
#ruby                truffleruby-dev
