set clipboard=unnamedplus
set history=2000
set hlsearch
set ignorecase
set incsearch
set iskeyword=@,48-57,_,192-255,#
set nrformats-=octal
set nonumber
set norelativenumber
set scrolloff=10
set showcmd
set showmode
set sidescroll=1
set sidescrolloff=6
set smartcase
set nostartofline
set undolevels=2000
set virtualedit=onemore " all is unsupported

set ideajoin
set ideamarks
set idearefactormode=select
set ideastatusicon=gray
set ideavimsupport=
set ideawrite=all
"set ideastrictmode " Show IdeaVim errors.

sethandler n:vim i:vim x:vim v:vim

set argtextobj
set commentary
"set easymotion
"set exchange
set highlightedyank
set matchit
set multiple-cursors
set NERDTree
set ReplaceWithRegister
set sneak
set surround
set textobj-entire
set textobj-indent
set vim-paragraph-motion

let g:highlightedyank_highlight_duration = "200"
let g:highlightedyank_highlight_color = "rgba(252, 232, 244, 155)"

" Custom keymappings .....................................................{{{1

let mapleader = "\<Space>"

nmap              <C-s> <Action>(SearchEverywhere)
nmap              <C-k> <Action>(QuickJavaDoc)
imap              <C-k> <Action>(ParameterInfo)
nmap              <C-@> <Action>(ShowErrorDescription)
nmap              [e    <Action>(GotoPreviousError)
nmap              ]e    <Action>(GotoNextError)

" Leader
nmap              <leader><leader> <Action>(GotoFile)

" Buffers
nmap              <leader>bb  <Action>(RecentFiles)<Action>(SwitcherRecentEditedChangedToggleCheckBox)
nnoremap <silent> <leader>bn  :bnext<CR>
nnoremap <silent> <leader>bp  :bprevious<CR>
nmap              <leader>bs  :w<CR>

" Code
nmap              <leader>ca  <Action>(ShowIntentionActions)
nmap              <leader>cc  <Action>(Run)
nmap              <leader>cD  <Action>(GotoRelated)
nmap              <leader>cf  <Action>(ReformatCode)
nmap              <leader>co  <Action>(OptimizeImports)
nmap              <leader>cr  <Action>(Refactorings.QuickListPopupAction)
nmap              <leader>cx  <Action>(Cargo.RunExternalLinter)

nmap              <leader>cC  <Action>(ChooseRunConfiguration)
nmap              <leader>cI  <Action>(InspectCode)
nmap              <leader>cO  <Action>(CodeCleanup)

" Debugger
nmap              <Space>ds  <Action>(StepInto)
nmap              <Space>dn  <Action>(StepOver)
nmap              <Space>df  <Action>(StepOut)
nmap              <Space>dr  <Action>(Resume)
nmap              <Space>dk  <Action>(Stop)
nmap              <Space>dp  <Action>(Pause)
nmap              <Space>db  <Action>(ToggleLineBreakpoint)
nmap              <Space>dB  <Action>(ViewBreakpoints)

" Files
nmap              <leader>fr  <Action>(RecentFiles)

" Git
nmap              <leader>gB  <Action>(Annotate)
nmap              <leader>gL  <Action>(LocalHistory.ShowHistory)

" Open
nmap              <leader>od  <Action>(Debug)
nmap              <leader>of  <Action>(NewElement)
nmap              <leader>op  :NERDTree<CR>
nmap              <leader>oP  :NERDTreeFind<CR>

" Project
nmap              <leader>pa  <Action>(OpenFile)
nmap              <leader>pp  <Action>(RecentProjectListGroup)
nmap              <leader>pt  <Action>(ActivateTODOToolWindow)
nmap              <leader>pT  <Action>(RerunTests)

" Search
nmap              <leader>sd  <Action>(FindInPath)
nmap              <leader>sD  <Action>(ReplaceInPath)
nmap              <leader>si  <Action>(GotoSymbol)
nmap              <leader>sj  <Action>(RecentLocations)
nmap              <leader>sk  <Action>(SmartSearchAction)

" Toggle
nmap              <leader>td  <Action>(CompareTwoFiles)
nnoremap          <leader>tl  :set number!<CR>
nnoremap          <leader>tL  :set relativenumber!<CR>
nnoremap          <leader>tw  :set wrap!<CR>

" Language Flutter
nmap              <leader>lfr  <Action>(Flutter.Toolbar.ReloadAction)
nmap              <leader>lfR  <Action>(Flutter.Toolbar.RestartAction)
nmap              <leader>lfa  <Action>(Dart.Restart.Analysis.Server)
nmap              <leader>lfc  <Action>(flutter.clean)
nmap              <leader>lfod <Action>(io.flutter.OpenDevToolsAction)
nmap              <leader>lfox <Action>(flutter.xcode.open)

" Language Rust
nmap              <leader>lrr  <Action>(Rust.ConsoleREPL)

" Move current line up and down.
nnoremap <silent> <C-\><C-d>  :move .+1<CR>==
nnoremap <silent> <C-\><C-u>  :move .-2<CR>==
inoremap <silent> <C-\><C-d>  <ESC>:move .+1<CR>==gi
inoremap <silent> <C-\><C-u>  <ESC>:move .-2<CR>==gi
xnoremap <silent> <C-\><C-d>  :move '>+1<CR>gv=gv
xnoremap <silent> <C-\><C-u>  :move '<-2<CR>gv=gv

" Sanity remappings ......................................................{{{1

" Move through wrapped lines.
nnoremap j gj
nnoremap k gk
xnoremap j gj
xnoremap k gk

" Paste and keep clipboard.
xnoremap p pgvy
xnoremap p "_dP

" Start search with 'very magic'.
nnoremap / /\v

" Don't exit visual mode on shifting.
xnoremap < <gv
xnoremap > >gv

" Yank till the end of the line.
nnoremap Y y$

" Clear matches.
nnoremap <silent> <C-l> :nohlsearch<CR><C-l>
nnoremap <silent> <ESC> :nohlsearch<CR>

" Same C-m (Enter) as in insert mode.
nnoremap <C-m> o<ESC>

" Same C-j as in Emacs.
nnoremap <C-j> i<CR><ESC>

" Start new change before Ctrl-U and Ctrl-W for undo.
inoremap <C-u> <C-g>u<C-u>
inoremap <C-w> <C-g>u<C-w>

" Respect an already typed prefix when iterating through history.
cnoremap <C-p> <Up>
cnoremap <C-n> <Down>

" Join lines without moving the cursor.
nnoremap J mzJ`z

" Compatibility remappings ...............................................{{{1

" Emacs bindings in insert mode
imap     <C-a>   <Action>(EditorLineStart)
imap     <C-e>   <Action>(EditorLineEnd)
inoremap <C-b>   <Left>
inoremap <C-f>   <Right>
" Make original C-e accessible through S-C-y.
inoremap <S-C-y> <C-e>

" Emacs bindings in command mode
cnoremap <C-b>   <Left>
cnoremap <C-f>   <Right>
cnoremap <C-d>   <DEL>

" Add missing bindings
nmap <C-^>       <S-C-6>
nmap <C-o>       <Action>(Back)
nmap <C-i>       <Action>(Forward)
nmap zr          <Action>(ExpandAllToLevel)

" Remap preferred key to circumflex.
map <C-,> <C-^>
